<ion-view view-title="날씨 검색">
    <ion-content>
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="지역을 입력하세요" ng-model="cityName">
            </label>
            <button class="button button-small button-positive" ng-click="getWeather(cityName)">
                검색
           </button>
        </div>
        <ion-item collection-repeat="data in datas">{{data.name}}

            <ion-option-button class="button-positive"
                               ng-click="share(data)">
                Share
            </ion-option-button>
            <ion-option-button class="button-info"
                               ng-click="delete($index)">
                삭제
            </ion-option-button>
        </ion-item>
    </ion-content>
</ion-view>